<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.LogisticExpenseDetailMapper">


    <select id="findBy" resultType="org.jeecg.modules.business.entity.LogisticExpenseDetail">
        SELECT *
        FROM logistic_expense_detail
        WHERE tracking_number IN
        <foreach collection="trackingNumbers" separator="," item="v" index="i" close=")" open="(">
            #{v}
        </foreach>
    </select>
    <select id="findExpenseByInvoiceCodes" resultType="java.math.BigDecimal">
        SELECT `Frais de FRET`+ `Frais de livraison` AS `amount`
        FROM wia_app.detail_de_facture
        WHERE `N° de facture` IN
        <foreach collection="codes" open="(" close=")" index="i" item="v" separator=",">
            #{v}
        </foreach>
    </select>

    <select id="findBetween" resultType="org.jeecg.modules.business.vo.PlatformOrderLogisticExpenseDetail">
        SELECT *
        FROM platform_order_logistic_expense_detail AS po
        WHERE po.order_time >= #{start} AND #{stop} >= po.order_time
    </select>
</mapper>