<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PlatformOrderContentMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  platform_order_content 
		WHERE
			platform_order_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.business.entity.PlatformOrderContent">
		SELECT * 
		FROM  platform_order_content
		WHERE
			 platform_order_id = #{mainId} 	</select>

	<select id="queryOrdersInfo" parameterType="java.lang.String" resultType="org.jeecg.modules.business.vo.OrdersStatisticData">
		SELECT SUM(quantity) AS 'totalQuantity', COUNT(DISTINCT platform_order_content.sku_id) AS 'skuNumber', SUM(quantity * price) AS 'estimatedTotalPrice'
		FROM platform_order_content
		    LEFT JOIN
		    (SELECT sku_id, price
			 FROM sku_price
			 GROUP BY sku_id
			 HAVING MAX(date)
		    ) p ON p.sku_id = platform_order_content.sku_id
		WHERE platform_order_content.platform_order_id IN (${orderIds})
	</select>
</mapper>
