<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PlatformOrderMapper">

    <select id="pageByClientId" resultType="org.jeecg.modules.business.vo.PlatformOrderPage">
        SELECT p.*
        FROM platform_order p
                 JOIN shop s ON p.shop_id = s.id
                 JOIN client c ON s.owner_id = c.id
        WHERE c.id = #{clientId}
        LIMIT #{offset}, #{size}
    </select>

    <select id="countTotal" resultType="_int">
        SELECT COUNT(*)
        FROM platform_order p
                 JOIN shop s ON p.shop_id = s.id
                 JOIN client c ON s.owner_id = c.id
        WHERE c.id = #{clientId}
    </select>

</mapper>