<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PlatformOrderMapper">

    <sql id="pagePendingOrderByClientId">
        SELECT p.*
        FROM platform_order p
                 JOIN shop s ON p.shop_id = s.id
                 JOIN client c ON s.owner_id = c.id
        WHERE c.id = #{clientId}
          AND p.status = 2
    </sql>

    <sql id="pagePurchasingOrderByClientId">
        SELECT p.*
        FROM platform_order p
                 JOIN shop s ON p.shop_id = s.id
                 JOIN client c ON s.owner_id = c.id
        WHERE c.id = #{clientId}
          AND p.status = 3
    </sql>

    <sql id="pageProcessedOrderByClientId">
        SELECT p.*
        FROM platform_order p
                 JOIN shop s ON p.shop_id = s.id
                 JOIN client c ON s.owner_id = c.id
        WHERE c.id = #{clientId}
          AND p.status = 1
    </sql>

    <sql id="allOrderByClientId">
        SELECT p.*
        FROM platform_order p
                 JOIN shop s ON p.shop_id = s.id
                 JOIN client c ON s.owner_id = c.id
        WHERE c.id = #{clientId}
    </sql>

    <select id="pagePendingOrderByClientId"
            resultType="org.jeecg.modules.business.vo.clientPlatformOrder.ClientPlatformOrderPage">
        <include refid="pagePendingOrderByClientId"/>
        LIMIT #{offset}, #{size}
    </select>

    <select id="pagePurchasingOrderByClientId"
            resultType="org.jeecg.modules.business.vo.clientPlatformOrder.ClientPlatformOrderPage">
        <include refid="pagePurchasingOrderByClientId"/>
        LIMIT #{offset}, #{size}
    </select>

    <select id="pageProcessedOrderByClientId"
            resultType="org.jeecg.modules.business.vo.clientPlatformOrder.ClientPlatformOrderPage">
        <include refid="pageProcessedOrderByClientId"/>
        LIMIT #{offset}, #{size}
    </select>

    <update id="updateStatus">
        UPDATE platform_order
        SET status = #{status}
        WHERE id = #{orderID}
    </update>

    <update id="batchUpdateStatus">
        UPDATE platform_order
        SET status = #{status}
        WHERE id IN
        <foreach collection="orderIDList" item="item" index="index"
                 close=")" open="(" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="queryQuantities" resultType="org.jeecg.modules.business.vo.clientPlatformOrder.section.OrderQuantity">
        SELECT
        sum(IF(status = '1', 1, 0)) as processed,
        sum(IF(status = '2', 1, 0)) as pending,
        sum(IF(status = '3', 1, 0)) as purchasing
        FROM (<include refid="allOrderByClientId"/>) AS t
    </select>

</mapper>
