<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PlatformOrderMabangMapper">

    <update id="updateMergedOrder">
        UPDATE platform_order
        SET target = #{target}
        WHERE platform_order_id IN
        <foreach
                collection="sources"
                separator=","
                index="i"
                item="v"
                open="("
                close=")">
            #{v}
        </foreach>;
    </update>

    <update id="updateMergedOrderItems">
        UPDATE platform_order_content
        SET platform_order_id = #{target}
        WHERE platform_order_id IN
        <foreach
                collection="sources"
                separator=","
                index="i"
                item="v"
                open="("
                close=")">
            #{v}
        </foreach>
    </update>

    <update id="batchUpdate">
        <foreach collection="orders" open="" close="" separator=";"

        UPDATE platform_order
        SET id =

    </update>

    <delete id="batchDeleteByMainID">
        DELETE
        FROM platform_order_content poc
        WHERE poc.platform_order_id
        IN
        <foreach collection="mainIDs" item="item" index="index" separator="," close="(" open=")">
            #{item}
        </foreach>

    </delete>


    <select id="findIdByErpCode" resultType="java.lang.String">
        SELECT id
        FROM platform_order
        WHERE platform_order_number = #{1}
    </select>

    <select id="findIdByErpId" resultType="java.lang.String">
        SELECT id
        FROM platform_order
        WHERE erp_order_id = #{1}
    </select>
    <select id="searchExistence" resultType="org.jeecg.modules.business.domain.mabangapi.getorderlist.Order">
        SELECT *
        FROM platform_order
        WHERE platform_order_id
        IN
        <foreach collection="orders" open="(" close=")" separator="," index="index" item="item">
            #{item}
        </foreach>
    </select>

    <insert id="insertOrdersFromMabang" parameterType="list">
        INSERT INTO platform_order(id, create_by, create_time, update_by,
        update_time, shop_id, logistic_channel_name,
        platform_order_id, platform_order_number, erp_order_id,
        tracking_number, order_time, shipping_time, recipient,
        country, postcode, erp_status)
        VALUES
        <if test="orders != null">
            <foreach collection="orders" separator="," open="" close="" item="order" index="index">
                (
                #{order.id},
                'mabang api',
                NOW(),
                'mabang api',
                NOW(),
                shopErpToId(#{order.shopErpCode}),
                #{order.logisticChannelName},
                #{order.platformOrderId},
                #{order.platformOrderNumber},
                #{order.erpOrderId},
                #{order.trackingNumber},
                #{order.orderTime},
                #{order.shippingTime},
                #{order.recipient},
                #{order.country},
                #{order.postcode},
                #{order.status}
                )
            </foreach>
            update_by = 'mabang api',
            update_time = NOW(),
            logistic_channel_name = values(logistic_channel_name),
            tracking_number = values(tracking_number),
            shipping_time = values(shipping_time),
            erp_status = values(erp_status)
        </if>
    </insert>

    <insert id="insertOrderItemsFromMabang">
        INSERT INTO platform_order_content(
        id, create_by, create_time,
        update_by, update_time, platform_order_id,
        sku_id, quantity, erp_status
        )
        VALUES
        <foreach collection="items" separator="," open="" close="" item="item" index="index">
            (
            UUID(), 'Mabang API', NOW(),
            'Mabang API', NOW(), #{item.platformOrderId},
            skuErpToId(#{item.erpCode}), #{item.quantity}, #{item.erpStatus}
            )
        </foreach>
        update_by = 'mabang api',
        update_time = NOW(),
        sku_id = values(sku_id),
        erp_status = values(erp_status)
    </insert>

</mapper>
