<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.PurchaseOrderSkuMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  purchase_order_sku 
		WHERE
			 sku_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.business.entity.PurchaseOrderSku">
		SELECT * 
		FROM  purchase_order_sku
		WHERE
			 sku_id = #{mainId} 	</select>
</mapper>
