<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.business.mapper.ShippingInvoiceMapper">

    <select id="fetchShopOwnerFromInvoiceNumber" resultType="org.jeecg.modules.business.entity.Client">
        SELECT distinct c.*
        FROM client c
            JOIN shop s ON c.id = s.owner_id
            JOIN platform_order po on s.id = po.shop_id
        WHERE po.shipping_invoice_number = #{invoiceNumber}
    </select>
</mapper>